/*
font-family: 'Press Start 2P', cursive;
font-family: 'Raleway', sans-serif;
font-family: 'Roboto Slab', serif;
*/

* {
  box-sizing: border-box;
  margin: 0;
}

ul {
  list-style: none;
}

h3 {
  font-family: "Poppins", sans-serif;
  font-size: 1.5em;
  text-align: center;
  margin-top: 1.5em;
}

/*HEADER*/

.header {
  display: flex;
  justify-content: space-between;
  background-color: #ff7878;
}

/*LOGIN*/
.divForm {
  /*padre de los dos*/
  background-color: red;
  padding: 1em;
  display: block;
  width: 100%;
  height: 100%;
}

.divHeaderLogin{
  
  background-color: aqua;
  width: 100%;  
  display: flex;
  justify-content: flex-end;
  padding: 1.5em;
  
}
.divHeaderLogin button{
  margin-left: 1em;
  margin-right: 2em;
}
.divHeaderLogin h4{
  margin-top: 1em;
}



.divContainerImgForm{
  background-color:#ff7878;
  width: 100%;
  display: flex;
}

.divImgLogin {
  /*div hijo izquierda*/
  background-color: blue;
  width: 50%;
}

.divFormLogin {
  /*div hijo derecha */
  background-color: green;
  width: 50%;
}

figure {
  padding: 0.5em;
  text-align: center;
  background-color: blue;
  
}
figure img{
  width: 15%;
  height: 15%;
  
}

.form-container {
  background-color: orange; /*aqui colocamos #cee5d0;*/
  width: 70%;
  margin: auto;

  margin-top: 2em;
  margin-bottom: 2em;

}

.formLogin {
  background-color: #cee5d0;
  width: 50%;
  margin: auto;
  padding: 1.5em 1em 1em 1em;
}

.group {
  background-color: yellow;
  padding: 0.3em;
}

.group input {
  height: 2em;
}

.buttonClass {
  padding: 0.5em;
  margin-top: 0.5em;
  background-color: pink;
  text-align: center;
}

.buttons {
  padding: 0.3em;
  font-size: 1em;
  border-radius: 0.5em;
  border: none;
  background-color: #ff7878;
  height: 2em;
  width: 9em;
}

.socialmedia {
  text-align: center;

}

.socialmedia h4 {
  margin-bottom: 1em;
 }



.socialmediaOptions img {
  margin-bottom: 3em;
  width: 10%;
  height: 10%;
  padding: 0.5em;
}


 /*  MEDIA QUERIES */
@media (max-width: 400px) {
  .divImgLogin {
    display: none;
  }

  .divFormLogin {
    /*div hijo derecha */
    background-color: green;
    width: 100%;
  }
  
  
.form-container {
  background-color: orange; /*aqui colocamos #cee5d0;*/
  width: 100%;
  
}

  .formLogin {
    background-color: #cee5d0;
    width: 60%;
    margin: auto;
    padding: 1.5em 1em 2.5em 1em;
    
  }
  
  .divHeaderLogin button{
    margin-left: 1em;
    margin-right: 0.5em;
  }

}